@model Lesson11.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/animation.css" />
    <link rel="stylesheet" href="~/css/loading.css" />   
</head>

<!-- Navigation link -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Index">Categories List</a></li>
        <li class="breadcrumb-item"><a href="/Categories/details/@Model.Id">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<hr class="align-items-baseline" style="margin-top: 100px" />

<div class="row">
    <div class="col-md-4">
        <!-- Add id attribute to the form for easier selection in JavaScript -->
        <form id="editForm" asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <!-- Buttons -->
            <div class="form-group mt-3">
                <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-info">
                    <i class="fa-solid fa-arrow-left-long"></i>
                    Back
                </a>
                <button type="submit" class="btn btn-outline-success" id="submitButton">
                    <i class="fa fa-pencil"></i> Save
                </button>
            </div>
        </form>
        <!-- Loading icon -->
        <div class="loader" id="loader"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Loading.js"></script>

}
