@{
    Layout = "~/Views/Shared/_ErrorPageLayout.cshtml";
}

<style>
    .container {
        position: relative;
        width: 100%;
        max-height: 91vh;
    }

    .responsive-image {
        width: 100%;
        max-height: 91vh;
        height: auto;
        margin: auto;
        display: block;
    }

    .overlay-button {
        position: absolute;
        bottom: 2%;
        right: 2%;
        background-color: dodgerblue;
        color: whitesmoke;
        padding: 1% 2%;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        z-index: 2;
        font-size: 1.8vw;
    }
</style>

<div class="container">
    <img src="~/images/500-InternalServerError.jpg" class="responsive-image" alt="500" />
    <button class="overlay-button" onclick="refreshPage()">Refresh</button>
</div>

<script>
    function refreshPage() {
        location.reload(true); 
    }
</script>
